# Build outputs
.next
out
build
dist
coverage

# Dependencies
node_modules

# Generated
*.tsbuildinfo

# Assets
public

# Lockfiles
pnpm-lock.yaml
yarn.lock
package-lock.json

# Misc
.DS_Store

# Backups
pre-pull-backup_*/**
